.card {
    margin: 2rem 1rem 0rem 0rem;
    border: none;
  }
  .form {
    margin: 2rem 4rem 0rem 4rem;
  }
  .form-control{
    color:  #BCC1CAFF;
    background-color: #F3F4F6FF;
  }
  .text-center {
    margin: 1rem 0rem 2rem 0rem;
  }
.room{
  
   background-color: black;
   
}  
.btn{
  background-color: #00BDD6;
  color: white;
}
body{
    background-color:  #F8F9FA;
    ;
}
.mainimg{width: 431px;
    height: 342px;
    top: 100px;
    left: 6rem;
    gap: 0px;
    opacity: 0px;
    position: relative;
}


.imgboddy{
    position: absolute;
}